<h1> Angular!! </h1>

<div ng-app="app">
  <div ng-controller="pageCtrl">
  <ul>
     <li>{{ one }} </li>
     <li>{{ two }} </li>
     <li>{{ three }} </li>
   </ul>
  <br/>
  <div>
  Input Task:
  <input ng-model="three">  
  </div>
  </div>
</div>